<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ProyectoGestor"
			 connectionString="Data Source=Matias;Initial Catalog=ProyectoGestor;Integrated Security=True;Encrypt=False"
			 providerName="System.Data.SqlClient" /> 
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>